.statistics{
    max-width: 500px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fff;
}
.title{
    padding: 30px 0;
    font-size: 40px;
}
.statList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    flex-basis: calc(100% / 4);
    padding: 20px 0;
    color: #fff;

}
.label{
    flex-basis: calc(100% / 4);
    display: block;
    font-size: 22px;
}
.percentage{
    display: block;
    margin-top: 10px;
    flex-basis: calc(100% / 4);
    font-size: 40px;
}
